# Chociaz brmux występuje w pliku netplan, to definujemy brmux w networkd.netdev ze wzgledu na
# wymog ustawienia VLANFiltering=true, czego (przynajmniej obecnie) nie da się ustawic w netplan.

[NetDev]
Name=brmux
Kind=bridge

[Bridge]
VLANFiltering=true
DefaultPVID=none
