# Definicje tagowanych sieci VLAN
# korzystamy z plików systemd, bo obecnie VLANów tagowanych nie da się
# ustawic w netplan (moze kiedys to sie zmieni)

[Match]
Name=eth0
#Type=ether

[Network]
Bridge=brmux

# - VLAN dla sieci z adresacja network-interface i dla flat provider external network
# - ten VLAN będzie niewidoczny na poziomie OpenStack - w brmux zostanie zamieniony na
# VLAN1 (nietagowany) i OpenStack dostanie go jako "flat"
# - w istocie można by go w ogle nie uzywac i wykorzystac zwykly eth nietagowany, ale my
# wprowadzamy go w celach edukacyjnych, aby na jego tle lepiej wyeksponowac sieci
# dostawcow realizowane jako VLAN tagowane
[BridgeVLAN]
VLAN=2

# VLANy dla sieci VLAN provider network realizowanych jako VLANy tagowane
# edukacyjnie - pięć VLANow to az za duzo
[BridgeVLAN]
VLAN=100-104
