# Definicje tagowanych sieci VLAN
# - korzystamy z plików systemd, bo obecnie VLANów tagowanych nie da się
# ustawic w netplan (moze kiedys to sie zmieni)
# - definicje na potrzeby network-interface wg kolla-ansible (to interfejs z
# adresacja dla sieci management/dashboard i dla sieci tenanckich overlay)

[Match]
Name=veth0br

[Network]
Bridge=brmux

# w celu dociągnięcia do veth0 sieci nietagowanej z adresacja IP rutowalną w Linksys na
# potrzeby sieci management/dashboard oraz sieci tenanckich overlay (np. VXLANowych)
# - analogicznie jest w veth1br, ale na potrzeby sieci provider i ew. sieci tenanckich w
# technice VLAN (o ile beda dozwolone w pliku ml.2 - por. konfiguracje dla kolla-ansible)
# - z sieci tagowanej VLAN=2 do veth0 (i do veth1 również) bedzie dostarczona siec
# nietagowana (domyslny VLAN=1)
# - ponizej, PVID=2 powoduje dodanie znacznika VLAN=2 do każdej przychodzacej nietagowanej
# ramki, a EgressUntagged=2 wymusza, że każda ramka tagowana z VLAN=2 mająca w switchu wyjsc
# tym interfejsem ma zdejmowany tag i wychodzi na zewnatrz switcha jako nietagowana (kierunek
# przesyłu ramki przychodząca/wychodząca zawsze określamy patrzac z perspektywy switcha/bridgea)
[BridgeVLAN]
PVID=2
EgressUntagged=2

# UWAGA: ponizsze NIE jest potrzebne dla network-interface veth0, zostawiono tylko dla 
# celow dydaktycznych - porownawczych, aby zobaczyć, że VLANy dostawcow (providerskie)
# sa realizowane tylko na veth1 (bo tak jest zorganizowana sieć na poziomie OpenStack)

# na potrzeby wewnetrznych sieci OpenStack typu VLAN provider network
# (i ew. na potrzeby sieci tenanckich VLAN - o ile beda dozwolone w 
# pliku ml.2 - por. konfiguracje dla kolla-ansible)
# ponizsze VLANy beda dostarczone do veth1 na potrzeby Neutrona
#[BridgeVLAN]
#VLAN=100-104
