# definicje na potrzeby network-interface wg kolla-ansible
# (interfejs z adresacja dla management i sieci tenanckich overlay)

[Match]
Name=veth0br

[Network]
Bridge=brmux

# dolaczenie do veth0 sieci z adresacja z Linksys na potrzeby sieci management i sieci 
# tenanckich overlay; tak samo jest w veth1br na potrzeby sieci provider i ew. sieci 
# tenanckich w technice VLAN
# z VLAN=2 do veth0 i veth1 bedzie dostarczona siec nietagowana (domyslny VLAN=1)
[BridgeVLAN]
PVID=2
EgressUntagged=2

# ponizsze NIE jest potrzebne dla network-interface veth0, zostawiono tylko dla 
# celow dydaktycznych - porownawczych

# na potrzeby wewnetrznych sieci OpenStack typu VLAN provider network
# (i ew. na potrzeby sieci tenanckich VLAN - o ile beda dozwolone w 
# pliku ml.2 - por. konfiguracje dla kolla-ansible)
# ponizsze VLANy beda dostarczone do veth1 na potrzeby Neutrona
#[BridgeVLAN]
#VLAN=100-101
