# definicje na potrzeby network-interface wg kolla-ansible
# (interfejs z adresacja dla management i sieci tenanckich overlay)

[Match]
Name=veth0br

[Network]
Bridge=brmux

